// Code generated by Fern. DO NOT EDIT.

package global

import (
	context "context"
	http "net/http"

	sdk "github.com/Acksell/opencode-go-sdk/sdk"
	core "github.com/Acksell/opencode-go-sdk/sdk/core"
	internal "github.com/Acksell/opencode-go-sdk/sdk/internal"
	option "github.com/Acksell/opencode-go-sdk/sdk/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Get health information about the OpenCode server.
func (c *Client) Health(
	ctx context.Context,
	opts ...option.RequestOption,
) (*sdk.GlobalHealthResponse, error) {
	response, err := c.WithRawResponse.Health(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Subscribe to global events from the OpenCode system using server-sent events.
func (c *Client) Event(
	ctx context.Context,
	opts ...option.RequestOption,
) (*core.Stream[sdk.GlobalEvent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := baseURL + "/global/event"
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Accept", "text/event-stream")
	streamer := internal.NewStreamer[sdk.GlobalEvent](c.caller)
	return streamer.Stream(
		ctx,
		&internal.StreamParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			MaxBufSize:      options.MaxBufSize,
			Prefix:          internal.DefaultSSEDataPrefix,
			Terminator:      internal.DefaultSSETerminator,
			Format:          core.StreamFormatSSE,
			ErrorDecoder:    internal.NewErrorDecoder(sdk.ErrorCodes),
		},
	)
}
